body {
    display: flex;
    background-color: #8598A6;
    flex-direction: column;
    margin: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
main {
    margin-top: 7.5em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}
.main-content{
    width: 50%;
}
.left, .right {
    margin-top: 0;
    width: 10%;
    background-color: grey;
}
.right{
    margin-left: 2.5%;
}
.left{
    margin-right: 2.5%;
}
@media only screen and (max-width: 1200px){
    .left{
        display: none;
    }
}
@media only screen and (max-width: 800px){
    .right{
        display: none;
    }
}