#editButton, #delete-post{
    width: auto;
    float: right;
}
#delete-post{
    margin-left: 1em;
    background-color: red;
    border-color: red;
}
.main-content{
    justify-content: flex-start;
    margin-right: 20em;
}